
{{!-- each articles syntex and each save article syntex --}}

<div class="card">
    <h5 class="card-header">News Headline</h5>
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Brief article summary of the news.</p>
        <p><a href="#"> Article link. </a></p>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter your comment here</label>
            <textarea class="form-control" id="" rows="3"></textarea>
        </div>
        <a href="#" class="btn btn-primary">Add Comment</a>
        <a href="#" class="btn btn-success">Save Article</a>
    </div>
</div>