
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Saved Articles</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Home Page</a>
  </div>
</div>

{{!-- above stays the save but below i have to duplicate this card and populate it with the info thats in my database.  The buttons must lead to links to the routes that populate the home page and the saved articles--}}

{{!-- each articles syntex and each save article syntex --}}

<div class="card">
  <h5 class="card-header">News Headline</h5>
  <div class="card-body">
    <h5 class="card-title">Title</h5>
    <p class="card-text">Brief article summary of the news.</p>
    <p><a href="#"> Article link. </a></p>
    <a href="#" class="btn btn-primary">Add Comment</a>
    <a href="#" class="btn btn-danger">Save Article</a>
  </div>
</div>